.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    grid-row-gap: 3rem;
    color: white;
    max-width: 300px;
}

.shortcut {
    text-align: center;
    font-size: 0.8rem;
}
